---
java:
  image: 'sdshmctspublic.azurecr.io/vh/video-api:20210210.6'
  applicationPort: 8080
  replicas: 2
  ingressHost: vh-video-api.{{ .Values.global.environment }}.platform.hmcts.net
  releaseNameOverride: vh-video-api
  readinessPath: /healthcheck/health
  livenessPath: /healthcheck/health
  livenessDelay: 360
  livenessPeriod: 120
  aadIdentityName: vh-aad-identity
  keyVaults:
    vh-infra-core:
      excludeEnvironmentSuffix: false
      resourceGroup: vh-infra-core-{{ .Values.global.environment }}
      usePodIdentity: true
      secrets:
        - applicationinsights--instrumentationkey
        - CvpConfiguration--StorageAccountName
        - CvpConfiguration--StorageAccountKey
        - CvpConfiguration--StorageContainerName
        - CvpConfiguration--StorageEndpoint
        - name: wowzaconfiguration--managedidentityclientid
          alias: CvpConfiguration--ManagedIdentityClientId
        - azuread--vhvideowebclientid
        - servicebusqueue--connectionstring
        - name: wowzaconfiguration--restPassword
          alias: wowzaconfiguration--Password
        - wowzaconfiguration--storageaccountkey
        - wowzaconfiguration--managedidentityclientid
        - name: wowzaconfiguration--wowza-storage-directory
          alias: wowzaconfiguration--StorageDirectory
        - name: wowzaconfiguration--azure-storage-directory
          alias: wowzaconfiguration--AzureStorageDirectory
        - name: wowzaconfiguration--endpoint
          alias: wowzaconfiguration--RestApiEndpoint
        - name: wowzaconfiguration--endpoint-streaming
          alias: wowzaconfiguration--StreamingEndpoint
        - name: wowzaconfiguration--storage-account
          alias: wowzaconfiguration--StorageAccountName
        - name: wowzaconfiguration--storage-account-endpoint
          alias: wowzaconfiguration--StorageEndpoint
        - name: wowzaconfiguration--storage-account-container
          alias: wowzaconfiguration--StorageContainerName
        - wowzaconfiguration--username
        - wowzaconfiguration--ServerName
        - wowzaconfiguration--HostName
        - connectionstrings--videoapi
        - name: wowzaconfiguration--restendpoint--0
          alias: WowzaConfiguration--RestApiEndpoints--0
        - name: wowzaconfiguration--restendpoint--1
          alias: WowzaConfiguration--RestApiEndpoints--1
    vh-video-api:
      excludeEnvironmentSuffix: false
      resourceGroup: vh-infra-core-{{ .Values.global.environment }}
      usePodIdentity: true
      secrets:
        - azuread--clientsecret
        - azuread--clientid
        - kinlyconfiguration--apisecret
        - kinlyconfiguration--callbacksecret
        - kinlyconfiguration--selftestapisecret
        - kinlyconfiguration--telephoneconferencenumber
        - kinlyconfiguration--telephoneconferencenumberwelsh
        - kinlyconfiguration--kinlyapiurl
        - kinlyconfiguration--kinlyselftestapiurl
        - kinlyconfiguration--conferenceusername
        - kinlyconfiguration--pexipnode
        - kinlyconfiguration--pexipselftestnode
        - kinlyconfiguration--selftestapisecret
        - KinlyConfiguration--CallbackUri
        - QuickLinks--Issuer
        - QuickLinks--RsaPrivateKey
        - QuickLinks--ValidAudience
  environment:
    ASPNETCORE_URLS: http://+:8080
    APPINSIGHTS_PROFILERFEATURE_VERSION: disabled
    APPINSIGHTS_SNAPSHOTFEATURE_VERSION: disabled
    APPLICATIONINSIGHTSAGENT_EXTENSION_VERSION: ~2
    MSDEPLOY_RENAME_LOCKED_FILES: 1
    SERVICES__VIDEOAPIURL: http://vh-video-api.{{ .Values.global.environment }}.platform.hmcts.net
    Logging__LogLevel__Default: debug
    Logging__LogLevel__System: debug
    Logging__LogLevel__Microsoft: debug
    services--callbackuri: http://vh-video-api.{{ .Values.global.environment }}.platform.hmcts.net/callback
    kinlyconfiguration--callbackuri: http://vh-video-api.{{ .Values.global.environment }}.platform.hmcts.net/callback
    AzureAd__Authority: https://vh-video-api.{{ .Values.global.environment }}.platform.hmcts.net/
    
