---
java:
  image: "sdshmctspublic.azurecr.io/vh/video-api:20210210.6"
  applicationPort: 8080
  replicas: 2
  ingressHost: vh-video-api.{{ .Values.global.environment }}.platform.hmcts.net
  releaseNameOverride: vh-video-api
  livenessPath: /health/liveness
  readinessPath: /health/readiness
  startupPath: /health/startup
  aadIdentityName: vh-aad-identity
  keyVaults:
    vh-infra-core:
      excludeEnvironmentSuffix: false
      resourceGroup: vh-infra-core-{{ .Values.global.environment }}
      usePodIdentity: true
      secrets:
        - azuread--tenantid
        - name: connectionstrings--applicationinsights
          alias: applicationinsights--connectionstring
        - CvpConfiguration--StorageAccountName
        - CvpConfiguration--StorageAccountKey
        - CvpConfiguration--StorageContainerName
        - CvpConfiguration--StorageEndpoint
        - name: wowzaconfiguration--managedidentityclientid
          alias: CvpConfiguration--ManagedIdentityClientId
        - name: wowzaconfiguration--restPassword
          alias: wowzaconfiguration--Password
        - wowzaconfiguration--storageaccountkey
        - wowzaconfiguration--managedidentityclientid
        - name: wowzaconfiguration--wowza-storage-directory
          alias: wowzaconfiguration--StorageDirectory
        - name: wowzaconfiguration--azure-storage-directory
          alias: wowzaconfiguration--AzureStorageDirectory
        - name: wowzaconfiguration--endpoint-https
          alias: wowzaconfiguration--LoadBalancer
        - name: wowzaconfiguration--endpoint-rtmps
          alias: wowzaconfiguration--StreamingEndpoint
        - name: wowzaconfiguration--storage-account
          alias: wowzaconfiguration--StorageAccountName
        - name: wowzaconfiguration--storage-account-endpoint
          alias: wowzaconfiguration--StorageEndpoint
        - name: wowzaconfiguration--storage-account-container
          alias: wowzaconfiguration--StorageContainerName
        - wowzaconfiguration--username
        - wowzaconfiguration--ServerName
        - wowzaconfiguration--HostName
        - connectionstrings--videoapi
        - name: wowzaconfiguration--restendpoint--0
          alias: WowzaConfiguration--RestApiEndpoints--0
        - name: wowzaconfiguration--restendpoint--1
          alias: WowzaConfiguration--RestApiEndpoints--1
    vh-video-api:
      excludeEnvironmentSuffix: false
      resourceGroup: vh-infra-core-{{ .Values.global.environment }}
      usePodIdentity: true
      secrets:
        - azuread--clientsecret
        - azuread--clientid
        - name: azuread--identifieruri
          alias: services--videoapiresourceid
        - kinlyconfiguration--apisecret
        - kinlyconfiguration--callbacksecret
        - kinlyconfiguration--selftestapisecret
        - name: kinlyconfiguration--telephoneconferencenumber
          alias: kinlyconfiguration--conferencephonenumber
        - name: kinlyconfiguration--telephoneconferencenumberwelsh
          alias: kinlyconfiguration--conferencephonenumberwelsh
        - kinlyconfiguration--kinlyapiurl
        - kinlyconfiguration--kinlyselftestapiurl
        - kinlyconfiguration--conferenceusername
        - kinlyconfiguration--pexipnode
        - kinlyconfiguration--pexipselftestnode
        - kinlyconfiguration--selftestapisecret
        - QuickLinks--Issuer
        - QuickLinks--RsaPrivateKey
        - QuickLinks--ValidAudience
        - launchdarkly--sdkkey
  environment:
    ASPNETCORE_URLS: http://+:8080
    KINLYCONFIGURATION__CALLBACKURI: https://vh-video-web.{{ .Values.global.environment }}.platform.hmcts.net/callback
    Logging__LogLevel__Default: warning
    Logging__LogLevel__Microsoft: warning
    Logging__LogLevel__System: warning
    SERVICES__CALLBACKURI: https://vh-video-web.{{ .Values.global.environment }}.platform.hmcts.net/callback
    UseStub: false
    SERVICES__VIDEOAPIURL: https://vh-video-api.{{ .Values.global.environment }}.platform.hmcts.net/
